{
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "mocha": true
    },
    "extends": ["plugin:@typescript-eslint/recommended"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "indent": ["error", 4],
        "linebreak-style": "off",
        "semi": [
            "error",
            "always"
        ],
        "curly": 0,
        "comma-dangle": 0,
        "max-len": 2,
        "require-jsdoc": 0,
        "no-invalid-this": 1,
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-angle-bracket-type-assertion": "off"
    }
 } 